// -------- fonts -------------

@font-face {
  font-family: "Inter";
  src: url(../../assets/font/Inter-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url(../../assets/font/Inter-Bold.ttf) format("ttf");
  font-weight: bold;
  font-style: normal;
}
