@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  .Polaris-Box {
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__subtext {
    color: #97999b;
  }
  
  .Polaris-Divider {
    padding-bottom: 0;
  }
}

.subheader {
  margin-bottom: 1rem;

  .Polaris-Box {
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__items {
    padding-top: 1rem;
  }

  .Polaris-Link {
    text-decoration: none;
  }

  &__banner {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .Polaris-Banner {
    background-color: black;
    border: none;
    border-radius: 0.5rem;
    color: white;
    width: 21.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    padding-inline: 0;
    margin-top: 1rem;
  }

  &__bannertext {
    font-size: 0.7rem;
    width: 13rem;
  }

  .Polaris-Button {
    all: unset;
    background-color: $button-color-darkgreen;
    color: $primary-color-white;
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    width: 6rem;
    padding: 0;

    .Polaris-Button__Text {
      font-size: 0.7rem;
    }
  }

  .Polaris-Icon,
  .Polaris-Button--iconOnly {
    display: none;
  }
}