@use "../../styles/partials/variables" as *;

.search {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: $primary-color-white;
}

.Polaris-TextField {
    &__Backdrop {
        background-color: $seconday-color-lightgray;
        opacity: 15%;
        border: none;
    }
}