@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
  height: 35rem;
  margin: 2rem 0 0;

  .Polaris-Box {
    background-color: $primary-color-white;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;

    & .Polaris-Text--headingXl {
      font-weight: 400;
      width: 19rem;
      margin: 0 auto 1rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0.5rem 2rem;
  }

  .Polaris-Choice__Label {
    font-size: 0.8rem;
  }

  &__msg {
    width: 10rem;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & .Polaris-Button {
      border: none;
      width: 8rem;

      .Polaris-Button__Content {
        font-size: 0.8rem;
      }
    }
  }

  &__cancel {
    color: $primary-color-black;
    text-decoration: underline;
  }
}
